LIST DATA TYPE:
--A list is an ordered, mutable (changeable), and iterable collection of items.
--Lists can hold elements of different data types (integers, strings, etc.).
--We are using [] bracket

In [1]:
my_list = [10, "hello", 3.14, True]
print(my_list)

[10, 'hello', 3.14, True]

#Properties of Lists:
-Ordered: Items have a defined order.
-Mutable: You can change, add, or remove elements.
-Allows Duplicates: Lists can have repeated values.
-Heterogeneous: Can store mixed data types.

# ðŸ”¹ Creating a list
my_list = [10, "apple", 3.14, True, "apple"]

In [3]:
# ðŸ”¸ Ordered: Items are stored in the same order
print("Ordered list:", my_list)

Ordered list: [10, 'apple', 3.14, True, 'apple']

In [4]:
# ðŸ”¸ Mutable: We can change, add, or remove items
my_list[1] = "banana"      # Changing an element
my_list.append("new item") # Adding an element
my_list.remove(True)       # Removing an element

print("After modifying (Mutable):", my_list)

After modifying (Mutable): [10, 'banana', 3.14, 'apple', 'new item']

In [5]:
# ðŸ”¸ Allows Duplicates: 'apple' appears more than once
print("Duplicates allowed:", my_list)

Duplicates allowed: [10, 'banana', 3.14, 'apple', 'new item']

In [6]:

# ðŸ”¸ Heterogeneous: List contains different data types
print("Mixed types in list:")
for item in my_list:
    print(f"{item} ({type(item)})")

Mixed types in list:
10 (<class 'int'>)
banana (<class 'str'>)
3.14 (<class 'float'>)
apple (<class 'str'>)
new item (<class 'str'>)

#Indexing
-Used to access individual items by position.
>Index starts from 0 (left to right)
>Negative index -1 starts from right (last item)

In [7]:
my_list = ['a', 'b', 'c', 'd']
print(my_list[0])   
print(my_list[1])  
print(my_list[2])  
print(my_list[3])  
print(my_list[-1])  
print(my_list[4])

a
b
c
d
d

IndexError: list index out of range

#âŒ Why does print(my_list[4]) cause an error?
The list my_list contains 4 items, with indexes:

pgsql
Copy code
Index:   0    1    2    3
Values: 'a', 'b', 'c', 'd'
Valid index range: 0 to 3 (or -4 to -1)

You're trying to access my_list[4], which does not exist.

#Slicing
-Used to get a part of the list.

list[start : stop : step]
>start: starting index (included)
>stop: ending index (excluded)
>step: interval

default values

a[::]
start is 0
stop is len(str)
step is 1


a[::-1]
start : -1
stop : -len(str) - 1
    
a[::1]
start : 0
stop : len(str)

In [8]:
my_list = [0, 1, 2, 3, 4, 5]
print(my_list[1:4])    # [1, 2, 3]
print(my_list[:3])     # [0, 1, 2]
print(my_list[::2])    # [0, 2, 4]

[1, 2, 3]
[0, 1, 2]
[0, 2, 4]

In [9]:
a = 'python class'
print(a[-6::3])

 a

#METHODS
Common List Methods:
Method	                 Description
append(x)	    Adds x to the end of the list
insert(i, x)	Inserts x at index i
extend(list2)	Adds all elements from another list
remove(x)	    Removes the first x
pop(i)	        Removes and returns item at index i
index(x)	    Finds index of first x
count(x)	    Counts how many times x occurs
sort()	        Sorts the list (ascending)
reverse()	    Reverses the list
clear()	        Removes all items

1.append(x):
-Adds an element x to the end of the list.

In [10]:
lst = [1, 2]
lst.append(3)
print(lst)  # [1, 2, 3]

[1, 2, 3]

2.insert(index, x):
-Inserts x at the specified index.

In [11]:
lst = [1, 3]
lst.insert(1, 2)
print(lst)  # [1, 2, 3]

[1, 2, 3]

3. extend(iterable):
-Adds all elements from another list (or any iterable).

In [12]:
lst = [1, 2]
lst.extend([3, 4])
print(lst)  # [1, 2, 3, 4]

[1, 2, 3, 4]

4. remove(x):
-Removes the first occurrence of x.

In [13]:
lst = [1, 2, 3, 2]
lst.remove(2)
lst.remove(3)
print(lst)

[1, 2]

5. pop(index=-1):
-Removes and returns the element at index (default is last).

In [14]:
lst = [1, 2, 3]
x = lst.pop()
print(x)     
print(lst)

3
[1, 2]

6. index(x):
-Returns the index of the first occurrence of x.

In [15]:
lst = ['a', 'b', 'c']
print(lst.index('b'))

1

7. count(x):
-Returns the number of times x appears.

In [16]:
lst = [1, 2, 2, 3]
print(lst.count(2)) 
print(lst.count(5))

2
0

8. sort():
-Sorts the list in ascending order.

In [17]:
lst = [3, 1, 2]
lst.sort()
print(lst)

[1, 2, 3]

9. reverse():
Reverses the list in place

In [18]:
lst = [1, 2, 3]
lst.reverse()
print(lst)

[3, 2, 1]

10. copy():
-Returns a shallow copy of the list.

In [19]:
lst1 = [1, 2, 3]
lst2 = lst1.copy()
print(lst2)

[1, 2, 3]

11. clear():
-Removes all items from the list.

In [20]:
lst = [1, 2, 3]
lst.clear()
print(lst)

[]