ðŸ§© PYTHON DATA TYPES:

Referring back to Session 1, we introduced the concept of data types in Python

ðŸ“š Operations on Python Data Types:

In Session 1, we learned about Python data types. Now, letâ€™s look at the basic operations you can do with them.

ðŸ§® Operations on Numbers (int, float):

âœ… Arithmetic Operators:

ðŸ”¢ Numbers:
 >Addition (+) â€“ Adds numbers
 >Subtraction (-) â€“ Subtracts numbers
 >Multiplication (*) â€“ Multiplies numbers
 >Division (/) â€“ Divides numbers (returns float)
 >Floor Division (//) â€“ Divides and removes decimal
 >Modulus (%) â€“ Gives remainder

ðŸ§ª Example:

In [3]:
a = 10
b = 3

print(a + b)  
print(a - b)  
print(a * b) 
print(a / b) 
print(a // b) 
print(a % b) 
print(a ** b)

13
7
30
3.3333333333333335
3
1
1000

âœ… Comparison Operators in Python:
 >Comparison operators are used to compare two values or variables. 
 >They return a Boolean value: True or False.

| Operator | Description              | Example  | Result |
| -------- | ------------------------ | -------- | ------ |
| `==`     | Equal to                 | `5 == 5` | `True` |
| `!=`     | Not equal to             | `5 != 3` | `True` |
| `>`      | Greater than             | `5 > 3`  | `True` |
| `<`      | Less than                | `2 < 3`  | `True` |
| `>=`     | Greater than or equal to | `5 >= 5` | `True` |
| `<=`     | Less than or equal to    | `3 <= 4` | `True` |

âœ… Examples in Code:

In [1]:
a = 10
b = 20

print(a == b)   # False
print(a != b)   # True
print(a > b)    # False
print(a < b)    # True
print(a >= 10)  # True
print(b <= 20)  # True

False
True
False
True
True
True

âœ…Bitwise Operators in Python:
 >Bitwise operators are used to perform bit-level operations on integers. 
 >They work on bits and perform operations bit by bit.

| Operator | Name        | Description                                      | Example (`a=10`, `b=4`)                        |     |          |
| -------- | ----------- | ------------------------------------------------ | ---------------------------------------------- | --- | -------- |
| `&`      | AND         | Sets each bit to 1 if **both** bits are 1        | `a & b = 0`                                    |     |          |
| \`       | \`          | OR                                               | Sets each bit to 1 if **one of** the bits is 1 | \`a | b = 14\` |

ðŸ”¸ 1. Bitwise AND (&):
 >Rule:
  //1 & 1 = 1
  //All other combinations (1 & 0, 0 & 1, 0 & 0) = 0
  ðŸ‘‰ Only returns 1 if both bits are 1.

âœ… Example:

a = 6   â†’ binary: 0110  
b = 3   â†’ binary: 0011

a & b   â†’     0110  
        &     0011  
        =     0010  â†’ Decimal: 2

In [2]:
a = 6
b = 3
print(a & b)

2

ðŸ”¸ 2. Bitwise OR (|):
  >Rule:
  //1 | 1 = 1
  //1 | 0 = 1
  //0 | 1 = 1
  //0 | 0 = 0
  ðŸ‘‰ Returns 1 if at least one bit is 1.

âœ… Example:

a = 6   â†’ binary: 0110  
b = 3   â†’ binary: 0011

a | b   â†’     0110  
        |     0011  
        =     0111  â†’ Decimal: 7

In [3]:
a = 6
b = 3
print(a | b)

7

ðŸ’¡ Summary Table:

| A | B | A & B | A \| B |
| - | - | ----- | ------ |
| 0 | 0 | 0     | 0      |
| 0 | 1 | 0     | 1      |
| 1 | 0 | 0     | 1      |
| 1 | 1 | 1     | 1      |

#bitwise or

A = 400
b = 99


# step1 - we have to convert A and B into binary numbers
400 --> 110010000
99 --> 1100011

# step2 - apply or operator on binary values

    110010000
    or
    001100011

    Result = 111110011

# step3 - convert output back to number

    111110011 -> 0

In [5]:
a = 5    # Binary: 0101
b = 3    # Binary: 0011

result = a ^ b
print(result)

6

Explanation:

   0101  (5)
^  0011  (3)
=  0110  (6)